.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .col-lg-12 {
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 2%;
  }
}

/* OUR ADDITION */
/* styles for the alphabet keypad */

.letter-button, .letter-disabled {
  line-height: 2em;
  padding: 0.3em 0.65em;
  border-radius: 50%;
  display: inline;
  font-family: monospace;
  font-size: 2em;
  transition: color 0.2s,
              background-color 0.2s;
}

.letter-button {
  border: 1px solid rgb(60,160,210);
  color: rgb(60,160,210);
}

.letter-button:hover {
  color: white;
  background-color: rgb(60,160,210);
  cursor: pointer;
}

.letter-disabled {
  border: 1px solid lightgrey;
  color: lightgrey;
  cursor: default;
}

#word-to-guess {
  background-color: green;
  max-width: 100%;
}

#alphabet-keypad { 
  float: left;
  max-width: 100%;
  padding: auto;  
}

#hangman-box {
  background-color: lightcoral;
  max-width: 100%;
}

#graveyard {
  background-color: lightblue; 
  max-width: 100%;
}

.character-block {
  display: inline-block;
  width: 3em;
  height: 4em;
  margin: .2em;
}

.is-letter {
  box-shadow: 0 .1em 0 0 black;
}