/* OUR ADDITION */
/* styles for the alphabet keypad */

.letter-button, .letter-disabled {
  line-height: 2em;
  padding: 0.3em 0.65em;
  border-radius: 50%;
  display: inline;
  font-family: monospace;
  font-size: 2em;
  transition: color 0.2s,
              background-color 0.2s;
}

.letter-button {
  border: 1px solid rgb(60,160,210);
  color: rgb(60,160,210);
}

.letter-button:hover {
  color: white;
  background-color: rgb(60,160,210);
  cursor: pointer;
}

.letter-disabled {
  border: 1px solid lightgrey;
  color: lightgrey;
  cursor: default;
}

#alphabet-keypad {
  float: left;
  max-width: 100%;
  padding: auto;
}

.letter-hide {
  visibility: hidden;
  font-size: 2em;
  font-weight: bold;
  font-family: monospace;
  font-kerning: normal;
}

.letter-style {
  margin:0.5em;
  padding:1em;
  border-bottom: 1px solid #000;
  padding: 1em;
  border: 0.5em solid rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.letter-show {
  visibility: visible;
}

#puzzle-box {
  padding: 1em;
  text-align: center;
}
