/* OUR ADDITION */
/* styles for the alphabet keypad */

.letter-button, .letter-disabled {
  line-height: 2em;
  padding: 0.3em 0.65em;
  border-radius: 50%;
  display: inline;
  font-family: monospace;
  font-size: 2em;
  transition: color 0.2s,
              background-color 0.2s;
}

.letter-button {
  border: 1px solid rgb(60,160,210);
  color: rgb(60,160,210);
}

.letter-button:hover {
  color: white;
  background-color: rgb(60,160,210);
  cursor: pointer;
}

.letter-disabled {
  border: 1px solid lightgrey;
  color: lightgrey;
  cursor: default;
}

#alphabet-keypad {
  float: left;
  max-width: 100%;
  padding: auto;
}
