/* OUR ADDITION */
/* styles for the alphabet keypad */
#alphabet-keypad, #hangman-graphic, #letter-graveyard {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

#alphabet-keypad {
	margin-left: 3%;
	text-align: center;
}
#hangman-graphic {
	max-width: 50%;
}
#hangman-graphic img {
	max-width: 100%;
}
.letter-button, .letter-disabled {
	margin: 0.2em 0.1em;
	padding-top: 0.1em;
	
	border-radius: 50%;
  display: inline-block;
  font-family: monospace;
  font-size: 1.6em;
	
	height: 1.6em;
	width: 1.6em;
	
  transition: color 0.2s,
              background-color 0.2s;
}
.letter-button {
  border: 1px solid rgb(60, 160, 210);
  color: rgb(60, 160, 210);
}
.letter-button:hover {
  background-color: rgb(60, 160, 210);
  color: white;
  cursor: pointer;
}

.letter-button:active {
	background-color: red;
}
.letter-disabled {
  border: 1px solid lightgrey;
  color: lightgrey;
  cursor: default;
}

.title {
	margin: 0.3em 0;
	text-align: center;
}
.row {
	width: 100%;
}
.hangman-frames {
	opacity: 0.5;
	position: absolute;
	top: 0;
}
.hangman-controls {
	margin-top: 3em;
	margin-left: 30%;
}